.nav {
font-size: 20px;
margin-top: 2%;
}

h1 {
  font-family: fantasy;
  color: black;
  text-align: left;
  font-size: 50px;
  margin-top: 32px;
}

h2 {
  text-align: center;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/pacnw.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.panel-heading {
  text-align: left;
}

.important {
  font-size: 15px;
  font-weight: bold;
  font-family: fantasy;
}

.panel-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.panel-body li {
  font-size: 18px;
  font-family: serif;
}

.panel-body p {
  font-size: 15px;
  font-family: fantasy;
}

.column {
  width: 200px;
  float: left;
  border: 2px solid grey;
  padding: 5px;
  margin: 5px;
  background-color: teal;
  color: black;

}

.sidebar {
  float: right;
  border: 5px solid black;
}

.highlight {
  font-size: 16px;
  font-style: italic;
}

.first {
  font-size: 18;
  font-weight: bolder;
}
