.nav {
font-size: 20px;
margin-top: 2%;
}

h1 {
  font-family: fantasy;
  color: black;
  text-align: left;
  font-size: 50px;
  margin-top: 32px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/pacnw.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.panel-heading {
  text-align: center;
}

.important {
  font-size: 15px;
  font-weight: bold;
  font-family: fantasy;
}
